*{
    margin: 0;
    padding: 0;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
height: 66px;
}
#headerone {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 130px;
}
#headerone img{
    width: 155px;
}
#headertwo{
    display: flex;
    
    width: 50%;
}
#headertwo ul {
    display: flex;
    
}
#headertwo ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66px;
}
#headertwo ul li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    
    padding: 66px 16px;
    
}
#headertwo ul li:hover {
 
    align-items: center;
    height: 66px;
    background-color:#fe6847;
}
#home {
    display: flex;
    
height: 550px;
 background-image: url(/css/img/feature-pic-1.jpg);
 background-repeat: no-repeat;
 background-size: cover;

}
#homeone {
    margin-left: 124px;
    padding-top: 104px;
    display: flex;
    flex-direction: column;
    width: 40%;
}   
#homeone .headinghome {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Arial Narrow Bold', sans-serif;
text-align: start;
    color: white;
}
#homeone .paragraphhome {
    font-size: 12px;
    margin: 15px 0px;
    font-weight: bolder;
    font-family: 'Arial Narrow Bold', sans-serif;
text-align: start;
    color: white;
}
#homeone a {
    text-align: center;
    width: 90px;
    font-size: 12px;
    text-decoration: none;
    padding:  10px 35px;
    background-color: #fe6847;
    color: white;
}
#hometwo {
    margin-left: 124px;
    padding-top: 104px;
    display: flex;
    flex-direction: column;
    width: 40%;
}
#hometwo .SF {
    
    font-weight: bolder;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 175px;
}
#hometwo .SF  span{
    color: #fe6847;
     
}
#hometwo .DIS {
    font-weight: bolder;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: rgba(255, 255, 255, 0);
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    

    font-size: 66px;
}
hr {
    width: 340px;
}
#hometwo .OF {
    margin-top: 10px;
    color: white;
    font-size: 25px;
    padding-left: 74px;
    text-align: start;
}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about .host{ 
    margin-top: 75px;
    margin-bottom: 16px;
    color: #262626;
font-size: 45px;
}
.red {
    width: 125px;
    height: 1px;
background-color: red;
}
#about .parabout {
    width: 505px;
    font-weight: lighter;
    margin-top: 45px;
    font-size: 14px;
text-align: center;
}
#about .cards {
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 76px;
    
}
#about .cards #card {
    display: flex;
    margin: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 350px;
}
#about .cards #card img {
    
    height: 170px;
}
#about .cards #card .Headingcard {
    margin-right: 175px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 19px;
    
    font-weight: bolder;
    font-family: 'Arial Narrow Bold', sans-serif;

}
#about .cards #card .parcard {
    font-weight: lighter;
    color: #b4b4b4;
}
#pricing {
    display: flex;
    align-items: center;
    flex-direction: column;

 background-image: url(/css/img/feature-pic-1.jpg);
 background-repeat: no-repeat;
 background-size: cover;

}
#pricing .phead {

    text-align: center;
    color: white;
    font-size: 35px;
    margin-top: 85px;
}

#pricing .ppara {
margin-top: 15px;
    text-align: center;
    color: white;
    width: 555px;
    font-size: 18px;    
}
#pricing hr {
    margin-top: 15px;
    height: 1px;
    background-color: #fe6847;
    width: 255px;
}
#pricing .pricecard {
    box-shadow: #282828 0px 7px 29px 0px;

}

#pricing .pricecardsil {
    margin-bottom: 34px;
    box-shadow: #282828 0px 7px 29px 0px;
}
#pricing .pricecards {
    display: flex;
    align-items: center;
margin-bottom: 45px;
    margin-top: 20px;

}

#pricing .pricecards p{
    font-size: 15px;
    text-align: center;
    color: #b2b2b2;
padding: 18px 55px;
}
#pricing .pricecards .FREE{
    font-size: 25px;
    text-align: center;
    color:white;

background-color: rgb(83, 83, 83);
}
#pricing .pricecards .unlimted , .egb , .proc {

    background-color: rgb(83, 83, 83);
}
#pricing .pricecards .tfour , .tgb , .admin {

    background-color: #282828;
}
#pricing .pricecards .dolor {
    font-size: 50px;
    text-align: center;
    color:white;
background-color: black;
display: flex;
flex-direction: column;
}

#pricing .pricecards .order {

    background-color: black;
}
#pricing .pricecards .dolor span {
    font-size: 19px;
    color: red;
}
#pricing .pricecards .order a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    background-color: #fe6847;
}


#plans {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#plans .planhead {
    color: black;
    margin-top: 75px;
    
    border: #282828 2px solid;
    font-size: 25px;
} 

#plans .plancards {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
}
.plancard {
    display: flex;
align-items: center;
}
.plancard img {
    position: relative;
    left: 34px;
    width: 104px;
    height: 93px;
    border-radius: 50%;
}
.cardmain {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 465px;
    background-color: #f8f8f8;
height: 125px;
box-shadow: #f8f8f8 10px 10px 4px 10px;

}
.cardmain .planheader {
    color: black;
    padding-top: 24px;
    padding-left: 44px;
    font-size: 25px;
}

.cardmain .planpara {
    color: #a2a2a2;
    padding-top: 14px;
    padding-left: 44px;
    font-size: 15px;
    text-align: start;
width: 414px;
}



